* {
    margin: 0;
    padding: 0;
    font-family: DM Sans,sans-serif;
    box-sizing: border-box;
}

body{
    background-color: white;
}

@media (max-width: 1413px){
body {
    padding-left: 9.375rem;
    padding-right: 9.375rem;
}}

@media (max-width: 1024px){
body {
    padding-left: 6.25rem;
    padding-right: 6.25rem;
}}
@media (max-width: 768px){
body {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
}
}

@media (max-width: 520px){
body {
    padding-left: 2.8125rem;
    padding-right: 2.8125rem;
}
}

.app-section-horz-padding {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.header-top-padding{
    padding-bottom: 24px;
    padding-top: 24px;
}

.header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    
}

.nav {
    list-style-type: none;
    text-align: end;
    margin: 0;
    padding: 0;
  }
  
  .nav li {
    display: inline-block;
    font-size: 20px;
    margin-right: 15px;
  }

  .headerbutton {
    color: #fff;
    display: inline-block;
    background-color: #0055BA;
    font-size: .95em;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    line-height: 1;
    font-weight: bold;
  }

.headertext{
    padding-right: 5px;
    font-weight: lighter;
    font-size: 15px;
}

/*Section 1*/

.section2{
    margin-top: 100px;
    align-items: stretch;
    display: flex;
}
.newdashboard{
    background-color: #F5F5F5;
    border-radius: 50px;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    padding-top: 0.5625rem;
    padding-bottom: 0.5625rem;
    width: fit-content;
    margin-bottom: 24px;
}

.newText{
    background-color: #0055BA;
    text-align: center;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: 30px;
    margin-right: 0.625rem;
    color: white;
}
.app-h1-text {
    line-height: 1.15!important;
    font-size: 5.75rem;
}


/*section 2*/
.image-grid{
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2.5rem;
    margin-top: 3.125rem;
    display: grid;
}
.trustedby{
    --tw-text-opacity: 1;
    color: rgba(96,96,96,var(--tw-text-opacity));
    font-weight: 500;
    font-size: 0.9375rem;
}
.sponsor-img{
    height: 2rem;
    position: relative;
}

/*section 3*/
.section3{
    margin-top: 7.5rem;
}
.title-subtitlediv{
    max-width: 36rem;
    width: 100%;
}
.section3-title{
    font-family: "Duplicate Sans", "DM Sans", sans-serif;
    line-height: 1.15 !important;
    font-size: 4rem;
}
.section3-subtitle{
    margin-top: 1.875rem;
    --tw-text-opacity: 1;
    color: rgba(0,0,0,var(--tw-text-opacity));
    font-size: 1.625rem;
    max-width: 100%;
    font-weight: lighter;
}

.grid1{
    background-size: cover;
    background-position: 100% 100%;
    padding-left: 3.75rem;
    padding-right: 3.75rem;
    padding-bottom: 8rem !important;
    padding-top: 5rem;
    margin-bottom: 10px;
    margin-top: 5rem;
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
    border-radius: 0.9375rem;
    width: 100%;
    max-width: 100%;
}

.directpay{
    --tw-text-opacity: 1;
    color: rgba(0,0,0,var(--tw-text-opacity));
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    line-height: 1.25!important;
    font-size: 2.8125rem;
    font-family: Duplicate Sans,DM Sans,sans-serif;
}
.direcpay-subtitle{
    --tw-text-opacity: 1;
    color: rgba(32,32,32,var(--tw-text-opacity));
    max-width: 370px;
    line-height: 1.375!important;
    font-size: 1.125rem;
    font-weight: lighter;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }
  
  .flex-item-left {
    flex: 45%;
    
  }
  .grid2-3{
    background-size: cover;
    background-position: 100% 100%;
    padding: 3.75rem;
    padding-bottom: 20rem!important;
    border-radius: 0.9375rem;
  }
  
  .flex-item-right {
    flex: 45%;
   
  }
  
  /* Responsive layout - makes a one column-layout instead of a two-column layout */
  @media (max-width: 800px) {
    .flex-item-right, .flex-item-left {
      flex: 90%;
    }
  
  }

  /*Section 4 */
  .section4-div{
    margin-top: 5.5rem;
    margin-bottom: 9.375rem;
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
  }

  .app-h2-text{
    line-height: 1.15!important;
    font-family: Duplicate Sans,DM Sans,sans-serif;
  }

@media (max-width: 1024px){
.app-h2-text {
    font-size: 3.5rem;
}
}

@media (max-width: 768px){
    .app-h2-text {
    font-size: 3rem;
    line-height: 1;
}
}

@media (min-width: 520px){
    .app-h2-text {
    font-size: 2.25rem;
    line-height: 2.5rem;
}
}

.section4-subtitle{
    max-width: 100%;
    line-height: 1.375!important;
    margin-top: 1.875rem;
    --tw-text-opacity: 1;
    color: rgba(0,0,0,var(--tw-text-opacity));
    font-size: 1.375rem;
    font-weight: lighter;
}
.section4-bigdiv{
    --tw-bg-opacity: 1;
    background-color: rgba(245,245,245,var(--tw-bg-opacity));
    border-radius: 0.9375rem;
    overflow: hidden;
    margin-top: 5rem;
    padding-left: 3.75rem;
    padding-right: 3.75rem;
    padding-top: 3.75rem;
}


@media (max-width: 520px){
.section4-bigdiv{
    padding: 2.5rem;
}
}
.listing-item{
    overflow-x: auto;
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 2.5rem;
}
.listingtext{
    font-size: .9375rem;
    line-height: 1.75rem;
    padding-top: 0.8125rem;
    padding-bottom: 0.8125rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    font-weight: 500;
    max-lines: 1;
    white-space: nowrap;
}

/*Section five*/

.section5-div{
    max-width: 100%;
}
.sec5-title{
    font-family: Duplicate Sans,DM Sans,sans-serif;
    max-width: 42rem;
    width: 100%;
    line-height: 1.15!important;
    font-weight: 500;
}
.testimony{
    --tw-bg-opacity: 1;
    background-color: rgba(245,245,245,var(--tw-bg-opacity));
    border-radius: 0.9375rem;
    padding: 3.75rem;

}
@media (min-width: 1024px){
.testimony {
    margin-top: 5rem;
   
}
}

.textimony-text{
    --tw-text-opacity: 1;
    color: rgba(0,0,0,var(--tw-text-opacity));
    font-size: 2.25rem;
    font-family: Duplicate Sans, DM Sans, sans-serif;
    line-height: 1.25!important;
    margin-bottom: 50px;
}

@media (max-width: 520px){
.textimony-text {
    font-size: 1.625rem;
}    
}
@media (max-width: 768px){
    .textimony-text {
        margin-bottom: 3.125rem;
        font-size: 1.875rem;
        line-height: 2.25rem;
    }    
    }

@media (max-width: 1024px){
    .textimony-text {
        margin-bottom: 3.125rem;
        font-size: 2.25rem;
    line-height: 2.5rem;
    }    
}

.apostroph{
    width: 2.5rem;
    height: 2.5rem;
    margin-bottom: 1.875rem;
}
@media (max-width: 520px){
    .apostroph{
        width: 2rem;
        height: 2rem
    }
}

@media (max-width: 300px){
    .apostroph{
        width: 1.5rem;
        height: 1.5rem
    }
}

.testimony-person{
    align-items: center;
    display: flex;
    

}

.testimony-person-name{
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: bold;

}

.testimony-person-position{
    font-size: .9375rem;
    --tw-text-opacity: 1;
    color: rgba(96,96,96,var(--tw-text-opacity));
    line-height: 1rem;
    font-weight: lighter;
}